#appName{
    text-decoration:none;
    letter-spacing:5px;
    text-decoration: none;
}

/* .logo-box {
    text-align: center;
    width:90%;
    margin:auto;
    font-family: 'Indie Flower', cursive;
    color:white;

}
ul{
    padding-left:0;
}
li {
    display:inline;
    list-style: circle;
    text-align: center
}
li:before{
    content:'\00B7';
    padding-right:5px;
    margin-left:5px;
}
h1{
    margin-bottom:0;
    margin-top:0;
} */