#root{
    position:relative;
    background: url('blackboard.jpg') no-repeat;background-size: cover;height:100vh;
}

*{
    box-sizing: border-box;
     font-family: 'Indie Flower', cursive;
    color:white;
}

body{
    /* line-height: 1; */
}
footer{
    background-color: black;
    padding-top:5px;
	text-align:center; 
	position:fixed;
	left:0px;
	bottom:0px;
	height:30px;
	width:100%;
	background:black;
	 color: white; 
    margin-top:25px;
    font-size: 15px;
	letter-spacing: 2px
}